/* Google fonts: Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");

:root {
    --bg-color: #F8F9FA;
    --second-bg-color: #ececec;
    --text-color: #3d3d3d;
    --main-color: #FF7043;
    --btn-hover-color: #FF704380;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: var(--bg-color)
}

.main-section {
    padding: 20px;
    background-image: url('/assets/back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main-section h2 {
    background-color: var(--main-color);
}

.nav-link {
    cursor: pointer;
    font-weight: 600;
    color: var(--text-color);
}

.nav-link:hover {
    color: var(--main-color);
    transition: all .5s ease-in-out;
}

#search-input {
    border: 3px solid var(--main-color);
    border-radius: 25px;
    padding-left: 35px;
}

#search-input:focus {
    outline: none;
    box-shadow: none;
}

#search-input::placeholder {
    color: var(--text-color);
}

.bi-search {
    position: absolute;
    color: var(--main-color);
    font-size: 1.5rem;
    top: 12px;
    padding-left: 10px;
}

/* to hide the search icon on small screens */
@media (max-width: 991px) {
    .bi-search {
        display: none;
    }
}

/* changes the selected text color and bg color */
::selection {
    background-color: var(--main-color);
    color: var(--text-color);
}

/* footer */

footer small {
    color: var(--main-color);
    font-weight: 600;
}

/*  animation for the result section */
@keyframes getAnimated {

    from {
      opacity: 0;
      transform: scale(0)
    }

    to {
      opacity: 1;
      transform: scale(1);
    }

}

.get-animated {
    animation: getAnimated 0.6s ease-in-out;
}